body{
    margin:0;
    padding:0;
}
.header-parent{
    display: flex;
    background-color:#151515; 
    width:100%;
}

.header-parent__logo-parent{
    display: flex;
}

.logo-parent__logo-img{
    margin:5%;
    width:50px;
    height:auto;
}

.logo-parent__logo-text{
    font-size: larger;
    align-items:center;
    align-content: center;
    color:white;
}

.header-parent__link{
    display:flex;
    justify-content: flex-end;
    gap:20px;
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
}

.top-body__button-parent{
    color:white;
    display:flex;
    justify-content: center;
    padding-bottom:10%;
    padding-top:2%;
    gap: 25px;
}

.center-gradient__center-panel{
    display:flex;
    align-items: center;
    max-width:1000px;
    margin: 0 auto;
}

.center-panel__text-box{
    flex:1;
    align-items: center;
    text-align:center;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    
}

p{
    font-size: 16px;
    color: white;
}

h1{
    color:white;
}

.top-body{
    background-color:#151515;
}

.center-gradient{
    background-color:#151515;
    background-image: linear-gradient(#151515, blue, #151515);
}

.bottom-body{
    background-color: #151515;
}

h1, h2, h3, p {
    margin: 0;
}

.top-body,
.center-gradient,
.bottom-body {
  margin: 0;
  padding: 0;
}

.obsidian-img-parent{
    background-color: #151515;
    padding-bottom: 7%;

}

.obsidian-img-parent__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.purple-button{
    background-color:#A000B9;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    padding: 5px 1% 5px 1%;
    border: none;
    font-weight: 500;
}

.bottom-body__heading{
    font-size:33px;
    color: white;
    text-align: center;
}